
<header>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">My Angular 2 App!</a>
    </div>
  </nav>
</header>

<main>
  <div class="row">
    <div class="col-sm-4">

      <div *ngIf="enquiries">
      <ul class="list-group users-list">
        <li class="list-group-item"
          *ngFor="let enquiry of enquiriesList">
          {{ enquiry.name }} ({{ enquiry.email }})
        </li>
      </ul>
      </div>
    </div>

    <div class="col-sm-8">

      <div class="jumbotron" *ngIf="!activeUser">
        <span class="glyphicon glyphicon-hand-left"></span>
        <h2>Choose a User</h2>
      </div>

    </div>
  </div>
</main>

<footer class="text-center">
  Copy &copy; 2016
</footer>
